body {
    background: #D8D9DA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #272829;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #61677A;
    text-align: justify;
  }

  @import 'https://fonts.googleapis.com/css?family=Montserrat';
 
        

.single-icon i:hover {
    transform: scale(1.5);
    color: #1813e4;
}
.multi-icon .set {
    position: relative;
    height: 40px;
    width: 60px;
    i {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:first-of-type {
            opacity: 1;
        }
    }
    &:hover i {
        transform: scale(1.5);
        color: #1813e4;
    }
}
  

.fa-heart:hover {
	animation: heart .5s cubic-bezier(.36,.07,.57,.99) infinite;
}
@keyframes heart {
	0% {
		transform: scale(1.5);
	}
	20% {
		transform: scale(2);
	}
	30% {
		transform: scale(1.5);
	}
	40% {
		transform: scale(2);
	}
	100% {
		transform: scale(1.5);
	}
}


.dots {
    color: orange;
    height: 8px;
    border-width: 0 0 8px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="#{$color}" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
     width: 216px;
  }