{% load static %}
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'img/header/question.png' %}" width="50">
      </a>

      <div class="col-8 col-lg-6 me-lg-auto mb-2 justify-content-center mb-md-0">
        <ul class="nav px-2">
          <li><a href="#" class="nav-link px-4 text-white">Quiz Connect |</a></li>
          <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="{% url 'unterrichten' %}" class="nav-link px-2 text-white">Unterrichten</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
      </div>
      
      <div class="col-lg-5">
        <div class="d-flex justify-content-between">
          <form class="col-lg-8">
            <div class="d-flex gap-2">
              <input type="search" class="form-control form-control-dark" placeholder="Search...">
              <button type="submit" class="glow-on-hover custom-btn py-0">Search</button>
            </div>  
          </form>
          <a href=""><button type="button" class="glow-on-hover custom-btn py-0 justify-self-end">Logout</button></a>
        </div>
       
      </div>
    </div>
  </div>
</header>